<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <CENTEr>
        <H1>employe table </H1>
        <table border="3px">
            <tr>
                <th>empno</th>
                <th>ename</th>
                <th>job</th>
                <th>mgr</th>
                <th>hiredate</th>
                <th>sal</th>
                <th>comm</th>
                <th>deptno</th>
            </tr>
            {% for x in details %}
            <tr>
                <td>{{x.empno}}</td>
                <td>{{x.ename}}</td>
                <td>{{x.job}}</td>
                <td>{{x.mgr}}</td>
                <td>{{x.hiredate}}</td>
                <td>{{x.sal}}</td>
                <td>{{x.comm}}</td>
                <td>{{x.deptno}}</td>
                
                
            </tr>
            {% endfor %}
        </table>
    </CENTEr>
</body>
</html>